
@font-face{
  src:url(font/Aileron-Regular.otf);
  font-family: se;
}

.background{
	background-image: url("img/camou.png");
	background-size: auto;
	background-repeat: repeat;
	background-attachment: scroll;
}

#page{
	background: #fff;
	margin: 2em auto;
    max-width: 1250px;
    color: #bbb;
}

#header{
	border-top: 2px solid #0a0a0a;
	padding-bottom: 10px;
    position: relative;
    z-index: 9999;
}



body{
	line-height: 1.625;
	padding: 0 2em;
	margin: 0;
    outline: 0;
    vertical-align: baseline;
    display: block;
    background: #1d1d1d;
    color: #bbb;
}

header{
	display: block;
}

#cop-name{
	margin-right: 270px;
    padding: 0.5em 0 0;
    margin: 0 7.6%;
    
	
}

#cop-description{
  font-family: se;
	color: #858585;
	font-size: 14px;
    margin: 0 7.6% 0.5em;
    line-height: 1.625;
}

#header img{
    height: auto;
    display: block;
    width: 100%;
}


a img{
	border:0;
}

li, div, a{
	border: 0;
    font-family: se;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    color: #1982d1;
}

ul.home-list {
	display: block;
 	list-style-type: none;
 	margin: 0 3%;
 	padding: 0;
 	overflow: hidden;
 	color: black;
 	background: -webkit-linear-gradient(#b0b0b0, #f5f5f5);

}

li.nv{
	float: left;
	border-right: 1px solid #bbb;
	position: relative;
	display: list-item;
    text-align: -webkit-match-parent;
    color:black;
}

li.pslist{
	list-style-type:disc;
	color:#505050;
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding:14px;
	text-decoration: none;
}

li a:visited{
	color:black;
}

a:visited{
	color:black;
}
li a:hover {
  background-color: #f0f0f0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.active{
 	background-color: #428bca; 
}

#nav-bar{
	background: -webkit-linear-gradient(#b0b0b0, #f5f5f5);
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    color: white;
}

#main {
    clear: both;
    padding: 1.625em 0 0;
    
}